<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_BASE_URL</key>
	<string>https://your-cloud-run-url.a.run.app</string>
	<key>GOOGLE_MAPS_IOS_API_KEY</key>
	<string>YOUR_GOOGLE_MAPS_IOS_API_KEY_HERE</string>
	<key>GOOGLE_PLACES_IOS_API_KEY</key>
	<string>YOUR_GOOGLE_PLACES_IOS_API_KEY_HERE</string>
	<key>GOOGLE_DIRECTIONS_API_KEY</key>
	<string>YOUR_GOOGLE_DIRECTIONS_API_KEY_HERE</string>
</dict>
</plist>
