<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.913453068491-8gc7scehq3736k8243re2fo6rqqd6d03</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-5422665078059042~2131515255</string>
	<key>UIAppFonts</key>
	<array>
		<string>GoogleSans-VariableFont_GRAD,opsz,wght.ttf</string>
		<string>GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>StoryPath needs your location to show your progress on the map during your journey.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>StoryPath needs your location to show your progress on the map during your journey and provide audio updates while the app is in the background.</string>
</dict>
</plist>
